/* 
width:1196px;#2884c7
*/
.head{
    width:100%;
    height:90px;
    .head1{
        width:1440px;
        height:90px;
        margin:0 auto;
        img{
            display: block;
            float: left;
            width:162px;
            height:47px;
            margin:30px 0 0 45px;
        }
        ul{
            float: right;
            height:55px;
            padding-top:35px;
            li{
                float:left;
                border-right:1px solid gray;
                height:20px;
                margin-left:20px;
                padding-right:10px;
                color:gray;
                a{
                    color:gray;
                }
            }
            li:hover a{
                color:#2884c7;
                text-decoration: underline;
            }
        }
    }
}

// 页面主体
.design{
    width:100%;
    height:483px;
    background-image: url(//i1.letvimg.com/lc07_img/201607/29/15/13/operatbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    
    .de{
        position: absolute;
        top:20px;
        left:1025px;
        width:380px;
        height:460px;
        padding: 0 25px;
        background:white ;
        z-index:10;
        display: block;
        .de1{
            margin-top:23px;
            padding:0 8px;
            height:24px;
            width:380px;
            margin-bottom:23px;
            .de1left{
                font-size:20px;
                float:left;
                height:24px;

            }
            .de1right{
                float:right;
                font-size:16px;
                line-height:24px;
                height:24px;
                span{
                    font-size:16px;
                    color:skyblue;
                }
            }
        }
        .de2{
            height:23px;
            width:380px;
            p{
                height:23px;
                width:380px;
                font-size:12px;
            }
        }
        .de3{
            height:42px;
            width:378px;
            border:1px solid #f3f3f3;
            margin-bottom:15px;
            span{
                display: block;
                height:29px;
                width:25px;
                margin:6px 14px 0 14px;
                font-size:25px;
            }
            span:nth-child(1){
                float:left;
            }
            span:nth-child(3){
                float:right;
            }
            input{
                width:272px;
                border:0;
                height:42px;
            }
        }
        .password input{
            width:325px;
        }
        .de4{
            width:380px;
            height:32px;
            padding-top:10px;
            input{
                float:left;
                margin-top:5px;
                margin-left:5px;
            }
            p{
                float:left;
                font-size:14px;
            }
            p:nth-child(3){
                float: right;
                color:#2884c7;
            }
        }
        .de5{
            display: block;
            height:42px;
            width:380px;
            background:skyblue;
            color:white;
            font-size:20px;
            text-align:center;
            line-height:42px;
        }
        .de6{
            position: absolute;
            bottom:0;
            width:381px;
            height:87px;
            .de61{
                height:20px;
                width:381px;
                text-align:center;
                font-size:16px;
                a{
                    color:#2884c7;
                }
            }
            .de62{
                width:381px;
                height:1px;
                background: gray;
                margin:10px 0;
            }
            .de63{
                width:72px;
                height:16px;
                background:white;
                font-size:12px;
                position:absolute;
                top:22px;
                left:150px;
                padding:0 8px;
            }
            .de64{
                width:234px;
                height:34px;
                padding-left:92px;
                span{
                    width:34px;
                    height:34px;
                    margin:0 10px;
                    font-size:34px;
                    display: block;
                    float: left;
                }
                span:nth-child(1){
                    color:skyblue;
                }
                span:nth-child(2){
                    color:rgb(50, 199, 50);
                }
                span:nth-child(3){
                    color:rgb(182, 128, 27);
                }
                span:nth-child(4){
                    color:rgb(52, 185, 238);
                }

            }
        }
    }
    .logon{
        position: absolute;
        top:20px;
        left:1025px;
        width:380px;
        height:460px;
        padding: 0 25px;
        background:white ;
        z-index:10;
        display: none;

        .de1{
            margin-top:23px;
            padding:0 8px;
            height:24px;
            width:380px;
            margin-bottom:23px;
            .de1left{
                font-size:20px;
                float:left;
                height:24px;

            }
            .de1right{
                float:right;
                font-size:16px;
                line-height:24px;
                height:24px;
                a{
                    color:skyblue;
                }
            }
        }
        .de2{
            height:23px;
            width:380px;
            p{
                height:23px;
                width:380px;
                font-size:12px;
            }
        }
        .de3{
            height:42px;
            width:378px;
            border:1px solid #f3f3f3;
            margin-bottom:15px;
            span{
                display: block;
                height:29px;
                width:25px;
                margin:6px 14px 0 14px;
                font-size:25px;
            }
            span:nth-child(1){
                float:left;
            }
            span:nth-child(3){
                float:right;
            }
            input{
                width:272px;
                border:0;
                height:42px;
            }
        }
        .password input{
            width:325px;
        }
        .user input{
            width:325px;
        }
        .de33{
            height:42px;
            width:378px;
            border:1px solid #f3f3f3;
            margin-bottom:15px;
            span{
                display: block;
                height:29px;
                width:25px;
                margin:6px 14px 0 14px;
                font-size:25px;
                float: left;
            }
            input{
                width:200px;
                border:0;
                height:42px;
                float: left;
            }
            a{
                display: block;
                width:114px;
                height:40px;
                border:1px solid #2884c7;
                color:#2884c7;
                text-align: center;
                line-height:42px;
                float:right;
            }

        }
        .de4{
            width:380px;
            height:32px;
            padding-top:10px;
            input{
                float:left;
                margin-top:5px;
                margin-left:5px;
            }
            p{
                float:left;
                font-size:14px;
                a{
                    color:#2884c7;
                    text-align: underline;
                }
            }
            
        }
        .de5{
            display: block;
            height:42px;
            width:380px;
            background:rgb(29, 151, 199);
            color:white;
            font-size:20px;
            text-align:center;
            line-height:42px;
        }
    }
}
