@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1574043994699'); /* IE9 */
  src: url('iconfont.eot?t=1574043994699#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKwAAsAAAAABngAAAJhAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBBIESATYCJAMICwYABCAFhG0HLhu2BRHVkz9kPxJjW8T5kjj7JlTtzQRPny79ox2d1zojUJi5JmjdBerk9VwClcAKgM3N0DUqQrEk58H/8oykY6f55RP3TptAgcwHlOPamyYGGHf+C2hvbJMVSeQNYxe4hPMQwCODMqRv4PDxWBRrmgCyfMmiOdicH0VZyiIEataqyGlcrHPEeQanwu/L5xqx4OAarIrRCwfMp+vdajvD7PZ3M90nEQABbXYBA5QBCjK+Nj4SgzCGwYsrObCvUoF3q33fNyJ71SHsr7OKwwBIg/x7ErjCW005ALfVlWKgbtQ+IMXbZPyUC/GXb3lHE2Ti+PPBA++k7EmcNvGG7LlbGD7t0t1jt+OnhF+/zeWO7qf8ezSnKTFE78ZF9eM/sSv7o+KuqU2c01TZvzwl/m5V6+yGUWuz145CP9ZadTc+lC4A/EPml9mEAAJdLwdfnhXZ9s0GFYAXP3OmUq9/SOnnBLtzh8BPIlIBUC6y4o4CLcQCOBSfvMrDA3yQO4a3Y9Xxd5QWLPEjnCGkpzBY8shKL4NLkDoEsHTCo5RBm4PEshaDaChQwgEAIYqHcIjgEQxRPCcr/Q1cEviKAFFi4DFRYvcMUgCJVb2Mu+AFxx/smRM5JlFR6Q31O+ycFYXMF3KzIZj6sZjaMCHPsaB99CxCQJwjrOAyDCFD4ezwlN6IlGUYqO5N/Zljp+hl3AUv4PgD9syJ/PaiSp+/oX6HnVuaarwv5GZ7ByZ6xh7kTZ56Nd3LNe2jZ0QIIM4RWMEoDCEDpX6Uw1N6zIhoWRjsVtRX3q+vjF+3A/CwNI7YNoPeua7rAAAAAA==') format('woff2'),
  url('iconfont.woff?t=1574043994699') format('woff'),
  url('iconfont.ttf?t=1574043994699') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1574043994699#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e670";
}

