@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1573996360222'); /* IE9 */
  src: url('iconfont.eot?t=1573996360222#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABoQAAAJMAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBEIEUATYCJAMICwYABCAFhG0HMBu6BcguIScbV4RAemOsaOkrd3HyIwZlhH3EQ//70e68P2sq3bOgddsmThePpiHiJRAqlUbyTN7t99MUSbicL8sqQoUKMO8D56cwvZvTU2pCbsKtJ3iGAOUI87hjXD7cIDbri0x6/gsO5BDzvU/cO/0roEDmAynHvWisSZO6ALswoMD2xCiy0o05N4xd4BJOE2g0qipyOF5uIC1ZkwJxzdAukM75pGTJeqG2ZmWKFxLqy8MSnof3j382I01RU7HKTs5Gd+j+ZKf1+fY+wQ8CWl+DCstAEpdrY0digrFjGoXjJoGUwZ/AVrHXP0/UsgqbwTAU35PEld7qNwtI1GIRWB8VpbY02496WoHyoz740qe3uf/xeq7vnaUsbY1s/cj7nW9sDOt2XdbPqndlgeBbn5/S//VI8H1PQ2Pq56B+7/bgL0l6NqUusywlVUltqliUPHtFo0acw65Of2P1PbeUCvV6bsxRZyRFpd40maxl1GiyjVr1dtBoyWR9ky4sJrIBi74AQrtvFK2+otLuh0zWL2r0+ket9oih0dVgxyazYWRjugjd8fqBxs1zlWOTbFS8Iu1hXzgrCzk74tAIYmt1vZickEs8x5zwqbVFFCr2HByD88i2PfTZM+kmdV3E7zTWzuquVL95DmQdYORCkDt09QEZbjwu5bcX2dLtV4jmwXbBLQ010R3CQkbvqKWu2YOcqN1eDfdySehJ0yaEghTmcaAxGEZsNg/y64eZyI2o00dEfB0Nu5Xqq66vr3W+bhc0sgwl7EGV2ps63Q0CAA==') format('woff2'),
  url('iconfont.woff?t=1573996360222') format('woff'),
  url('iconfont.ttf?t=1573996360222') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1573996360222#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhedie:before {
  content: "\e643";
}

